// @media (max-width: 767px)

$pcBreakPoint: 1366;

@function pxToVwPc($pxValue) {
    @return (($pxValue / $pcBreakPoint) * 100)+vw;
}

$spBreakPoint: 375;

@function pxToVwSp($pxValue) {
    @return (($pxValue / $spBreakPoint) * 100)+vw;
}

@font-face {
    font-family: "HinaMincho-Regular";
    src: url("../font/HinaMincho-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "NotoSansJP-Regular";
    src: url("../font/NotoSansJP-Regular.otf") format("otf");
    font-weight: normal;
}

//調整用
.width80 {
    width: 80%;
    margin: 0 auto;
}

a{
    color: #000;
    display: inline-block;
	transition: all .3s ease 0s;
	text-decoration: none;
}
a:hover{
    cursor: pointer;
	transform: scale(1.2);
}

//headerLogoUl
//Pc表示
.headerLogoUlPc {
    display: flex;
    width: 100%;
    align-items: center;
    background-image: url(../images/washi.png);
    background-size: cover;
    position: fixed;
    z-index: 1;
    opacity: 0.8;

    @media (max-width: 767px) {
        display: none;
    }

    &__logo {
        &__img {
            width: 15vw;
            margin-left: 5vw;
        }
    }

    &__ul {
        display: flex;
        list-style: none;
        font-size: pxToVwPc(20);
        width: 100%;
        justify-content: end;
        font-family: "HinaMincho-Regular";
        font-weight: 800;

        &__li {
            margin-right: 3vw;
        }
    }
}

//Sp表示
.is-active {
    display: none;
}

.headerLogoUlSp {
    display: none;

    @media (max-width: 767px) {
        display: block;
        width: 100%;
        background-image: url(../images/washi.png);
        background-size: cover;
        padding-right: 3vw;
        position: fixed;
        z-index: 1;
        opacity: 0.8;
    }

    &__flex {
        display: flex;

        &__logo {
            &__img {
                width: 50vw;
                margin-right: 40vw;
            }
        }

        &__icon {
            padding-top: 4vw;

            &__img {
                font-size: pxToVwSp(30);
                color: #606060;
            }
        }
    }

    &__ham {
        list-style: none;
        z-index: 1;
        justify-content: end;
        width: 100%;
        padding-bottom: 5vw;

        &__li {
            margin-top: 1vw;
            margin-left: 5vw;
            font-family: "HinaMincho-Regular";
            font-size: pxToVwSp(16);
        }
    }
}

// mainCarousel
.mainCarousel {
    background: linear-gradient(rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 1)),
        url(../images/woodH.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: pxToVwPc(668);

    &__photo {
        width: 80%;
        margin: 0 auto;
        padding-top: 8vw;

        @media (max-width: 767px) {
            padding-top: 23vw;
        }

        & div {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: pxToVwPc(600);
        }

        &__sliders--01 {
            background-image: url(../images/sashimi.jpg);
        }

        &__sliders--02 {
            background-image: url(../images/100days.jpg);
        }

        &__sliders--03 {
            background-image: url(../images/garden.jpg);
        }
    }

    &__textBox {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-family: "HinaMincho-Regular";
        font-size: pxToVwPc(50);
        text-shadow: 0.1vw 0.1vw 0 #000, 0.1vw -0.1vw 0 #000, -0.1vw 0.1vw 0 #000, -0.8px -0.8px 0 #000;
        color: #fff;
        transform: translateY(-463%);
        @media (max-width: 767px){
            font-size: 4.5vw;
            transform: translateY(-387%);
        }
    }
}


// titleUnderbar
.titleUnderbar {
    margin-top: 10vw;
    text-align: center;
    font-family: "HinaMincho-Regular";
    font-size: pxToVwPc(40);
    color: #332921;
    border-bottom: 3px solid #332921;

    @media (max-width: 767px) {
        margin-top: 23vw;
    }
}

// photoText
.photoText {
    width: 100%;
    padding-top: 3vw;
    display: flex;

    @media (max-width: 767px) {
        display: block;
    }

    &__photo {
        width: 40%;

        @media (max-width: 767px) {
            width: 100%;
            margin: 0 auto;
        }

        &__img {
            width: 80%;
            margin: 0 auto;
            display: block;

            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }

    &__textBox {
        width: 60%;

        @media (max-width: 767px) {
            width: 100%;
        }

        &__text {
            width: 80%;
            margin: 0 auto;
            font-family: "NotoSansJP-Regular";
            font-size: pxToVwPc(20);

            @media (max-width: 767px) {
                font-size: pxToVwSp(14);
                padding-top: pxToVwSp(10);
                width: 100%;
            }
        }
    }
}

// titleBackimg
.titleBackimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: pxToVwPc(60);
    background-image: url(../images/woodW.jpg);
    margin-top: 5vw;

    @media (max-width: 767px) {
        height: pxToVwSp(30);
    }

    &__title {
        font-family: "HinaMincho-Regular";
        font-size: pxToVwPc(30);
        font-weight: bold;
        padding-left: pxToVwPc(30);
        line-height: pxToVwPc(60);

        @media (max-width: 767px) {
            font-size: pxToVwSp(18);
            line-height: pxToVwSp(30);
        }
    }
}

// photoGallery3
.photoGallery3Pc {
    @media (max-width: 767px) {
        display: none;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        margin-top: 3vw;

        &__img {
            width: 30%;
        }
    }
}

.photoGallery3Sp {
    display: none;

    @media (max-width: 767px) {
        display: block;
    }

    width: 100%;
    padding-top: pxToVwSp(15);

    & div {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: pxToVwSp(200);
    }

    &__sliders--01 {
        background-image: url(../images/smallroom.jpg);
    }

    &__sliders--02 {
        background-image: url(../images/largeroom.jpg);
    }

    &__sliders--03 {
        background-image: url(../images/outside.jpg);
    }
}

.slick-prev:before,
.slick-next:before {
    color: #000000;

    @media (max-width: 767px) {
        font-size: pxToVwSp(14);
    }
}

// textUnderbar
.textUnderbar {
    margin-top: 2vw;
    font-family: "HinaMincho-Regular";
    font-size: pxToVwPc(24);
    font-weight: bold;
    color: #332921;
    border-bottom: 3px solid #332921;
    padding-left: pxToVwPc(24);

    @media (max-width: 767px) {
        font-size: pxToVwSp(16);
    }
}

//調整用
.text {
    font-family: "NotoSansJP-Regular";
    font-size: pxToVwPc(20);
    margin-top: pxToVwPc(20);

    @media (max-width: 767px) {
        font-size: pxToVwSp(14);
    }
}

// mapTable
#google-map {
    height: pxToVwPc(500);
    width: 35%;

    @media (max-width: 767px) {
        width: 100%;
        margin-top: 5vw;
        height: pxToVwSp(300);
    }
}

.mapTable {
    width: 80%;
    font-family: "NotoSansJP-Regular";
    font-size: pxToVwPc(20);
    margin: 5vw auto 0 auto;

    @media (max-width: 767px) {
        font-size: pxToVwSp(14);
    }

    &__flex {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        @media (max-width: 767px) {
            display: block;
        }

        &__table {
            width: 60%;
            border-width: 2px 0 0 2px;
            border: solid #736456;
            border-collapse: collapse;

            @media (max-width: 767px) {
                width: 100%;
            }

            &__tr {
                height: pxToVwPc(60);

                &__td {

                    &:first-child {
                        background-color: #736456;
                        border-bottom: 2px solid #fff;
                        text-align: center;
                        color: #fff;
                        font-weight: bold;
                        width: 28%;
                    }
                    &--last{
                        border-bottom: 2px solid #736456 !important;
                    }

                    &:last-child {
                        border-bottom: 2px solid #736456;
                        padding-left: pxToVwPc(20);
                        width: 72%;
                    }
                }
            }
        }
    }
}

// logoTextBackimg
.logoTextBackimg {
    padding-top: 3vw;
    padding-bottom: 3vw;
    width: 100%;
    margin: 5vw auto 0 auto;
    text-align: center;
    background: url(../images/washi.png);

    &__logo {
        &__img {
            width: pxToVwPc(400);

            @media (max-width: 767px) {
                width: pxToVwSp(300);
            }
        }
    }

    &__textBox {
        font-family: "NotoSansJP-Regular";
        font-size: pxToVwPc(24);

        @media (max-width: 767px) {
            font-size: pxToVwSp(16);
        }
    }
}

//cooking

// mainText
.mainText {
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 1)),
        url(../images/woodH.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: pxToVwPc(500);

    &__img {
        width: 80%;
        margin: 0 auto;
        display: block;
        padding-top: 10vw;
        @media (max-width: 767px){
            padding-top: 18vw;
        }
    }

    &__text {
        font-family: "HinaMincho-Regular";
        font-size: 4vw;
        text-shadow: 0.1vw 0.1vw 0 #000, 0.1vw -0.1vw 0 #000, -0.1vw 0.1vw 0 #000, -0.8px -0.8px 0 #000;
        color: #fff;
        position: absolute;
        top: 23vw;
        left: 70vw;
        @media (max-width: 767px){
            font-size: 6vw;
            top: 29vw;
            left: 60vw;
        }
    }
}

//titleBackimg調整用
.mt10vw {
    margin-top: 10vw;
    @media (max-width: 767px){
        margin-top: 18vw;
    }
}

// textPhoto
.textPhoto {
    width: 100%;
    padding-top: 3vw;
    display: flex;
    flex-direction: row-reverse;

    @media (max-width: 767px) {
        display: block;
    }

    &__photo {
        width: 40%;

        @media (max-width: 767px) {
            width: 100%;
            margin: 0 auto;
        }

        &__img {
            width: 80%;
            margin: 0 auto;
            display: block;

            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }

    &__textBox {
        width: 60%;

        @media (max-width: 767px) {
            width: 100%;
        }

        &__text {
            width: 80%;
            margin: 0 auto;
            font-family: "NotoSansJP-Regular";
            font-size: pxToVwPc(20);

            @media (max-width: 767px) {
                font-size: pxToVwSp(14);
                padding-top: pxToVwSp(10);
                width: 100%;
            }
        }
    }
}

//textPhoto調整用
.mt5vw {
    margin-top: 5vw;
}

.cost {
    font-family: "NotoSansJP-Regular";
    font-size: pxToVwPc(20);
    text-align: center;
    margin-top: 0.5vw;

    @media (max-width: 767px) {
        font-size: pxToVwSp(16);
    }
}

//table
.table {
    width: 100%;
    font-family: "NotoSansJP-Regular";
    font-size: pxToVwPc(20);
    margin: 5vw auto 0 auto;

    @media (max-width: 767px) {
        font-size: pxToVwSp(14);
        width: 80%;
    }



    &__table {
        width: 80%;
        border: 2px solid #736456;
        border-collapse: collapse;
        margin: 0 auto;

        @media (max-width: 767px) {
            width: 100%;
        }

        &__tr {
            height: pxToVwPc(60);

            &__td {

                &:first-child {
                    background-color: #736456;
                    border-bottom: 2px solid #fff;
                    text-align: center;
                    color: #fff;
                    font-weight: bold;
                    width: 28%;
                }
                &--last{
                    border-bottom: 2px solid #736456 !important;
                }
                &:last-child {
                    border-bottom: 2px solid #736456;
                    padding-left: pxToVwPc(20);
                    width: 72%;
                }
            }
        }
    }

}

.google-map2 {
    height: pxToVwPc(500) !important;
    width: 80% !important;
    margin: 5vw auto 0 auto !important;

    @media (max-width: 767px) {
        width: 100% !important;
        margin-top: 5vw !important;
        height: pxToVwSp(300) !important;
    }
}

.form {
    width: 65%;
    margin: 5vw auto 0 auto;
    @media (max-width: 767px){
        width: 80%;
    }

    &__area {
        border-width: 1px 0 0 1px;
        border: solid #736456;

        &__flex {
            display: flex;
            align-items: center;
            @media (max-width: 767px){
                display: block;
            }

            &__left {
                width: 30%;
                background-color: #736456;
                padding-top: pxToVwPc(8);
                padding-left: pxToVwPc(85);
                border-bottom: 2px solid #fff;
                height: pxToVwPc(80);
                @media (max-width: 767px){
                    width: 100%;
                    height: pxToVwSp(50);
                }

                &--last {
                    height: pxToVwPc(350);
                    border-bottom: 1px solid #736456;
                    @media (max-width: 767px){
                        height: pxToVwPc(80);
                    }
                }

                &__label {
                    font-family: "NotoSansJP-Regular";
                    font-size: pxToVwPc(20);
                    color: #fff;
                    font-weight: bold;
                    @media (max-width: 767px){
                        font-size: pxToVwSp(14)
                    }
                }

                &__mandatory {
                    font-family: "NotoSansJP-Regular";
                    font-size: pxToVwPc(20);
                    color: #fff;
                    font-weight: bold;
                    @media (max-width: 767px){
                        font-size: pxToVwSp(14)
                    }
                }
            }

            &__right {
                padding-top: pxToVwPc(14);
                padding-left: 2vw;
                width: 70%;
                border-bottom: 2px solid #736456;
                height: pxToVwPc(80);
                @media (max-width: 767px){
                    width: 100%;
                    height: pxToVwSp(50);
                    padding-left: 8vw;
                }

                &--last {
                    height: pxToVwPc(350);
                    border-bottom: 1px solid #736456;
                }

                &__text {
                    padding-left: pxToVwPc(20);
                    width: 90%;
                    border: 1px solid #000;
                    height: pxToVwPc(50);
                    font-family: "NotoSansJP-Regular";
                    font-size: pxToVwPc(20);
                    @media (max-width: 767px){
                        font-size: pxToVwSp(14);
                        height: 9.5vw;
                    }
                    &--area {
                        height: pxToVwPc(300);
                        margin-top: pxToVwPc(12);
                    }
                }
            }
        }
    }
}

// privacy
.privacy {
    text-align: center;
    margin-top: 3vw;
    font-family: "NotoSansJP-Regular";
    font-size: pxToVwPc(20);
    &__button{
        background-color: #736456;
        width: 50%;
        margin: 2vw auto -2vw auto;
        height: pxToVwPc(50);
        border-radius: pxToVwPc(25);
        @media (max-width: 767px){
            height: pxToVwSp(40);
        border-radius: pxToVwSp(20);
        }
        &__submit{
            font-weight: bold;
            color: #fff;
            line-height: pxToVwPc(50);
            @media (max-width: 767px){
                font-size: pxToVwSp(20);
                line-height: pxToVwSp(40);
            }
        }
    }
}